@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden;
}

html {
  /*
    Default font size = 16 px i make the default = 10 px
    1 rem = 10px  
    */
  font-size: 62.5%;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 1rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 2.4rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Responsive */

@media (max-width: 30rem) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
